<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
<!-- ======== the alert box ========= -->
{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">  <!-- class="alert alert-warning will change depending upon msg type-->

    <strong>{{ message }}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
<!-- ========= end alert ============= -->
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" class="form-control" name="old_username" value="{{change_passw.username}}">
    <br><br>
    <div class="row g-3">
        <div class="col">
            <h4>Enter the Old password</h4>
          <input type="text" class="form-control" placeholder="Old password" name="old_passw">
        </div>
        <div class="col">
            <h4>Enter the New password</h4>
          <input type="password" class="form-control" placeholder="New Password" aria-label="Last name" name="new_passw">
        </div>
      </div>
      <br>
      <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
        <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Last name" name="con_passw"><br><br>
        <div class="input-group">
           
          <div class="input-group-text">Gmail</div>
          {% comment %} <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter the Gmail here" name="gmail" required> {% endcomment %}
        </div>
      </div><br>
      <input type="submit" name="chp_submit" id="chp_submit" value="Submit">
      <br><a href="/allibaba/login">Go back</a>
    
</form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>